body {
  background-image: url('2025_12_03_0vh_Kleki.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}


h1 { 
color: pink;
  margin-left: 40px;
}
